<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-v1 px-2">
                <div class="auth-inner py-2">
                    <!-- Forgot Password v1 -->
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="javascript:void(0);" class="brand-logo">
                                <img src="../assets/images/logo.svg" width="160">
                            </a>

                            <h4 class="card-title mb-1">Actualizar Contraseña</h4>
                            <p class="card-text mb-2">Ingrese su nueva contraseña</p>


                            <div class="form-group">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="forgot-password-email" aria-describedby="forgot-password-email" tabindex="1" autofocus [(ngModel)]="password" (change)="verificarPassword()" />
                                <div *ngIf="submitted && !password" class="invalid-feedback" style="display: block;">
                                    <div *ngIf="submitted && !password">Contraseña es requerida</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                                <input type="password" class="form-control" id="confirmPassword" name="forgot-password-email" aria-describedby="forgot-password-email" tabindex="1" autofocus [(ngModel)]="confirmPassword" (change)="verificarPassword()" />
                                <div *ngIf="submitted && !confirmPassword" class="invalid-feedback" style="display: block;">
                                    <div *ngIf="submitted && !confirmPassword">Confirme su contraseña</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="form-label text-danger" *ngIf="!confirmar">Las contraseñas ingresadas no coinciden</span>
                            </div>
                            <button class="btn btn-primary btn-block" tabindex="2" (click)="enviarPassword()">Enviar</button>


                            <p class="text-center mt-2">
                                <a href="/auth"> <i data-feather="chevron-left"></i> Volver</a>
                            </p>
                        </div>
                    </div>
                    <!-- /Forgot Password v1 -->
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #errorAuth let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Mensaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>