<div class=" app-content content ">
    <div class="content-overlay "></div>
    <div class="header-navbar-shadow "></div>
    <div class="content-wrapper ">
        <div class="content-header row ">
        </div>
        <div class="content-body ">
            <!-- Dashboard Ecommerce Starts -->
            <section class="app-user-list">
                <!-- users filter start -->
                <div class="card">
                    <div class="justify-content-center text-center" >
                        <img src="assets/images/logo.svg" width="160">
                        <h1>Escritorio Vittoria</h1>
                    </div>
                </div>
            </section>
            <!-- Dashboard Ecommerce ends -->

        </div>
    </div>
</div>
