<app-toolbar [menu]="menu"></app-toolbar>
<app-navbar></app-navbar>
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users list start -->
            <section class="app-user-list">
                <!-- users filter start -->

                <div class="card">
                    <div class="mx-auto d-block">
                        <ul class="nav nav-pills mb-0 mt-1" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#tab1" role="tab" aria-controls="pills-home" aria-selected="true">Desde CSV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab2" role="tab" aria-controls="pills-profile" aria-selected="false">Desde XLSX</a>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="pills-home-tab">
                            <h5 class="card-header justify-content-center">Cargar transacciones desde un archivo CSV</h5>
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                <label class="custom-file-label" for="inputGroupFile02">Seleccionar archivo</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id=""><a href="cargar-clientes-xls-mensaje2.html">Cargar</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="pills-home-tab">
                            <h5 class="card-header justify-content-center">Cargar transacciones desde un archivo XLSX</h5>
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                <label class="custom-file-label" for="inputGroupFile02">Seleccionar archivo</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id=""><a href="cargar-clientes-xls-mensaje2.html">Cargar</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- users filter end -->

                    <!-- list section end -->

                    <!-- users list ends -->
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<app-footer></app-footer>