<app-toolbar [menu]="menu"></app-toolbar>
<app-navbar></app-navbar>
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users list start -->
            <section class="app-user-list">
                <div class="card">
                    <h5 class="card-header">Filtros de búsqueda</h5>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i data-feather='calendar'></i></span>
                                        </div>
                                        <input type="text" mwlFlatpickr mode="range" [(ngModel)]="fecha" class="form-control form-control-sm flatpickr-basic flatpickr-input" placeholder="- Periodo de finalización -">
                                        <!-- <input type="text" class="form-control form-control-sm flatpickr-range flatpickr-input" placeholder="- Rango de fechas"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control form-control-sm" [(ngModel)]="tipoCliente">
                    <option value="" selected>- Tipo de cliente - </option>
                    <option value="cliente">Cliente</option>
                    <option value="negocio">Negocio</option>
                  </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm" placeholder="Identificación" [(ngModel)]="identificacion">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" (click)="obtenerListaOfertas()">
                  <i-feather name='search' class="edit-user"></i-feather>
                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row m-75">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-success" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                Exportar a Excel
              </button>
                            <button class="btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-toggle="modal" data-target="#modals-slide-in" (click)="crearOferta()">
                Añadir oferta
              </button>
                        </div>
                    </div>
                    <div class="card-datatable table-responsive pt-0">

                        <table class="user-list-table table">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2" />
                                            <label class="custom-control-label" for="customCheck2"></label>
                                        </div>
                                    </th>
                                    <th>Código</th>
                                    <th>Fecha de oferta</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th># contacto</th>
                                    <th>Correo</th>
                                    <th>Indicador de cliente</th>
                                    <th>Calificación de cliente</th>
                                    <th>Vigencia de oferta (días)</th>
                                    <th>Canal de ventas </th>
                                    <th>Monto USD</th>
                                    <th>Cantidad productos adquiridos</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let oferta of listaOfertas">
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2" />
                                            <label class="custom-control-label" for="customCheck2"></label>
                                        </div>
                                    </td>
                                    <td>{{oferta.codigoOferta}}</td>
                                    <td>{{oferta.fechaOferta}}</td>
                                    <td>{{oferta.nombres}}</td>
                                    <td>{{oferta.apellidos}}</td>
                                    <td>{{oferta.telefono}}</td>
                                    <td>{{oferta.correo}}</td>
                                    <td>{{oferta.indicadorCliente}}</td>
                                    <td>{{oferta.calificacionCliente}}</td>
                                    <td>{{oferta.vigenciaOferta}}</td>
                                    <td>{{oferta.canalVentas}}</td>
                                    <td>{{oferta.total}}</td>
                                    <td>
                                        <a class="avatar bg-info" data-target="#productos-detail" data-toggle="modal">
                                            <div class="avatar-content" data-toggle="tooltip" data-placement="top" title="Ver productos">
                                                <i-feather name='shopping-bag' class="edit-user"></i-feather>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="d-flex">
                                        <a class="avatar bg-primary mr-1" data-target="#modals-slide-in" data-toggle="modal">
                                            <div class="avatar-content">
                                                <i-feather name='edit-2' class="edit-user"></i-feather>
                                            </div>
                                        </a>

                                        <a class="avatar bg-danger mr-1" data-target="#eliminar" data-toggle="modal">
                                            <div class="avatar-content">
                                                <i-feather name="trash" class="edit-user"></i-feather>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ngb-pagination #paginator [collectionSize]="collectionSize" [(page)]="page" [(pageSize)]="pageSize" [maxSize]="5" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

                    <!-- Modal to add new user starts-->
                    <div class="modal modal-slide-in new-user-modal fade" id="modals-slide-in">
                        <div class="modal-dialog modal-slide-xl">
                            <div class="modal-content pt-0">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                                <div class="modal-header mb-1">
                                    <h5 class="modal-title" id="exampleModalLabel">Nueva oferta</h5>
                                </div>
                                <div class="modal-body flex-grow-1">
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label class="form-label" for="basic-icon-default-fullname">Fecha de creación de la
                        oferta:</label>
                                            <input type="text" class="form-control dt-full-name" [(ngModel)]="oferta.created_at" disabled />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="form-label" for="basic-icon-default-fullname">Cédula cliente:</label>
                                            <select class="form-control" [(ngModel)]="tipoClienteOferta">
                                                <option value="" selected>- Tipo de cliente - </option>
                                                <option value="cliente">Cliente</option>
                                                <option value="negocio">Negocio</option>
                                              </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="form-label" for="basic-icon-default-fullname">Identificación:</label>
                                            <input type="text" class="form-control" value="" [(ngModel)]="identificacionOfertaBusq" (change)="verificarBusqueda()" [disabled]="habilitarIdentificacion" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="form-label">Teléfono Celular:</label>
                                            <input type="text" class="form-control" value="" [(ngModel)]="telefonoOfertaBusq" (change)="verificarBusqueda()" [disabled]="habilitarTelefono" />
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label class="form-label" for="basic-icon-default-fullname"></label>
                                            <button class="btn btn-primary" (click)="obtenerCliente()">
                                                <i-feather name='search' class="edit-user"></i-feather>
                                              </button>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label">Nombre:</label>
                                            <input class="form-control" [(ngModel)]="oferta.nombres" disabled>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label">Apellido:</label>
                                            <input class="form-control" [(ngModel)]="oferta.apellidos" disabled>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label">Cédula:</label>
                                            <input class="form-control" [(ngModel)]="oferta.identificacion" disabled>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label">Teléfono celular:</label>
                                            <input class="form-control" [(ngModel)]="oferta.telefono" disabled>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="form-label">Email:</label>
                                            <input class="form-control" [(ngModel)]="oferta.correo" disabled>
                                        </div>

                                    </div>



                                    <div class="form-group mt-2 border p-2 border-info rounded">
                                        <h5>Productos:</h5>
                                        <form>
                                            <div *ngFor="let detalle of detalles; let i = index;">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-12 d-flex product-details-border position-relative pr-0">
                                                            <div class="row w-100 pr-lg-0 pr-1 py-2">
                                                                <div class="col-md-2 mb-lg-0 mb-2 mt-lg-0 mt-2">
                                                                    <p class="card-text col-title">Código</p>
                                                                    <input class="form-control form-control-sm" type="text" [(ngModel)]="detalle.codigo" (change)="obtenerProducto(i)" [ngModelOptions]="{standalone: true}">

                                                                </div>

                                                                <div class="col-md-2 mb-lg-0 mb-2 mt-lg-0 mt-2">
                                                                    <p class="card-text col-title">Producto</p>
                                                                    <input class="form-control form-control-sm" type="text" [(ngModel)]="detalle.articulo" [ngModelOptions]="{standalone: true}">

                                                                </div>

                                                                <div class="col-md-2 mb-lg-0 mb-2 mt-lg-0 mt-2">
                                                                    <p class="card-text col-title">Precio</p>
                                                                    <select class="form-control form-control-sm" [(ngModel)]="detalle.valorUnitario" (change)="calcularSubtotal()" [ngModelOptions]="{standalone: true}">
                                                                        <option value="0">- Seleccione -</option>
                                                                        <option value="{{listaPrecios[i].precioVentaA}}" >
                                                                            Precio de venta A: {{listaPrecios[i].precioVentaA}}
                                                                          </option>
                                                                        <option value="{{listaPrecios[i].precioVentaB}}" >
                                                                            Precio de venta B: {{listaPrecios[i].precioVentaB}}
                                                                          </option>
                                                                        <option value="{{listaPrecios[i].precioVentaC}}" >
                                                                            Precio de venta C: {{listaPrecios[i].precioVentaC}}
                                                                          </option>
                                                                        <option value="{{listaPrecios[i].precioVentaD}}" >
                                                                            Precio de venta D: {{listaPrecios[i].precioVentaD}}
                                                                          </option>
                                                                        <option value="{{listaPrecios[i].precioVentaE}}" >
                                                                            Precio de venta E: {{listaPrecios[i].precioVentaE}}
                                                                          </option>
                                                                        
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-2 my-lg-0 my-2">
                                                                    <p class="card-text col-title">Cantidad</p>
                                                                    <input type="number" class="form-control form-control-sm" value="0" placeholder="0" [(ngModel)]="detalle.cantidad" (change)="calcularSubtotal()" [ngModelOptions]="{standalone: true}" />

                                                                </div>
                                                                <!-- <div class="col-md-2 my-lg-0 my-2">
                                                                    <p class="card-text col-title">Precio</p>
                                                                    <input type="number" class="form-control form-control-sm" value="0" placeholder="0" [(ngModel)]="detalle.precio" (change)="calcularSubtotal(i)" disabled [ngModelOptions]="{standalone: true}" />

                                                                </div> -->
                                                                <div class="col-md-2 my-lg-0 my-2">
                                                                    <p><b>Total</b></p>
                                                                    <h5><b>${{detalle.precio}}</b></h5>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <img class="img-detalle" src="{{detalle.imagen}}">
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column align-items-center justify-content-between border-left invoice-product-actions py-50 px-25">
                                                                <i-feather name="x" class="cursor-pointer font-medium-3 edit-user" (click)="removeItem(i)"></i-feather>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" row">
                                                        <div class="col-12 d-flex product-details-border position-relative pr-0">
                                                            <div class="row w-100 pr-lg-0 pr-1 py-2">
                                                                <div class="col-md-4 mb-lg-0 mb-2 mt-lg-0">
                                                                    <p class="card-text col-title">Información Adicional</p>
                                                                    <textarea class="form-control" rows="1" [(ngModel)]="detalle.informacionAdicional" placeholder="Información adicional" [ngModelOptions]="{standalone: true}"></textarea>

                                                                </div>
                                                                <div class="col-md-2 my-lg-0 my-2">
                                                                    <p class="card-text col-title">% descuento</p>
                                                                    <input type="number" class="form-control form-control-sm" value="0" placeholder="0" [(ngModel)]="detalle.descuento" (change)="calcularSubtotal()" [ngModelOptions]="{standalone:
                                                                        true}" />

                                                                </div>
                                                                <div class="col-md-2 my-lg-0 my-2">
                                                                    <p class="card-text col-title">$ descuento:</p>
                                                                    <input type="number" class="form-control form-control-sm" value="0" placeholder="0" [(ngModel)]="detalle.valorDescuento" disabled [ngModelOptions]="{standalone:
                                                                        true}" />

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class=" col-8 text-right">
                                                    <p class="text-primary">Subtotal:</p>
                                                </div>

                                                <div class="col-2">
                                                    <p class="text-primary"><b>${{oferta.subtotal}}</b></p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class=" col-8 text-right">
                                                    <p class="text-primary">{{iva ? iva.descripcion:"No existen registros de iva"}}:</p>
                                                </div>

                                                <div class="col-2">
                                                    <p class="text-primary"><b>${{oferta.iva}}</b></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class=" col-8 text-right">
                                                    <p class="text-primary">Descuento:</p>
                                                </div>

                                                <div class="col-2">
                                                    <p class="text-primary"><b>${{oferta.descuento}}</b></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-8 text-right">
                                                    <h4 class="text-primary">Total</h4>
                                                </div>
                                                <div class="col-2">
                                                    <h4 class="text-primary"><b>${{oferta.total}}</b></h4>
                                                </div>
                                                <div class="col-12">
                                                    <button type="button" (click)="addItem()" class="btn btn-info btn-sm btn-add-new" data-repeater-create>
                            <i-feather name="plus"  class="mr-25 edit-user"></i-feather>
                            <span class="align-middle">Añadir producto</span>
                          </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="basic-icon-default-uname">Vigencia de la oferta (días):</label>
                                            <input type="text" class="form-control dt-uname" [(ngModel)]="oferta.vigenciaOferta" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="basic-icon-default-fullname">Canal de ventas:</label>

                                            <select class="form-control select2" [(ngModel)]="oferta.canalVentas">
                        <option value="">- Seleccione -</option>
                        <option value="{{tipoCanalOp.valor}}" *ngFor="let tipoCanalOp of tipoCanalOpciones">
                            {{tipoCanalOp.nombre}}
                          </option>
                          </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="basic-icon-default-uname">Calificación del cliente:</label>
                                            <input type="text" class="form-control" [(ngModel)]="oferta.calificacionCliente" disabled />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="basic-icon-default-uname">Indicador de cliente:</label>
                                            <input type="text" class="form-control" [(ngModel)]="oferta.indicadorCliente" value="valor" disabled />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-label" for="basic-icon-default-fullname">Persona que genera la oferta:</label>
                                            <input class="form-control" [(ngModel)]="oferta.personaGenera" disabled>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="form-label" for="basic-icon-default-uname">Descripción de la oferta:</label>
                                        <textarea class="form-control" rows="3" placeholder="Escribir..." [(ngModel)]="oferta.descripcion"></textarea>
                                    </div>
                                    <button class="btn btn-primary mr-1" data-toggle="modal" data-target="#exito" data-dismiss="modal" aria-label="Close">Guardar</button>
                                    <button type="reset" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal to add new user Ends-->
                </div>
                <!-- list section end -->
            </section>
            <!-- users list ends -->
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<app-footer></app-footer>