
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users list start -->
            <section class="app-user-list">
                <!-- users filter start -->
                <div class="card">
                    <h5 class="card-header justify-content-center">Cargar prospectos desde un archivo Excel</h5>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                                        <label class="custom-file-label" for="inputGroupFile02">Seleccionar archivo XLSX</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id=""><a href="cargar-clientes-xls-mensaje.html">Cargar</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- users filter end -->

                    <!-- list section end -->

                    <!-- users list ends -->
                </div>
            </section>
        </div>
    </div>
</div>
