<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-v1 px-2">
                <div class="auth-inner py-2">
                    <!-- Forgot Password v1 -->
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="javascript:void(0);" class="brand-logo">
                                <img src="../assets/images/logo.svg" width="160">
                            </a>

                            <h4 class="card-title mb-1">¿Olvisaste tu contraseña? 🔒</h4>
                            <p class="card-text mb-2">Ingresa tu correo para recuperar tu contraseña</p>


                          <form [formGroup]="form">
                            <div class="form-group">
                                <label for="forgot-password-email" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="forgot-password-email" name="forgot-password-email" placeholder="nombre@ejemplo.com" aria-describedby="forgot-password-email" tabindex="1" autofocus [(ngModel)]="correo" formControlName="correo" />
                                <div *ngIf="submitted && f.correo.errors" class="invalid-feedback" style="display: block;">
                                  <div *ngIf="f.correo.errors.required">Compañia es requerida</div>
                                  <div *ngIf="f.correo.errors.email">Email no es valido</div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block" tabindex="2" (click)="enviarCorreo()">Enviar</button>
                          </form>


                            <p class="text-center mt-2">
                                <a href="#/auth"> <i data-feather="chevron-left"></i> Volver</a>
                            </p>
                        </div>
                    </div>
                    <!-- /Forgot Password v1 -->
                </div>
            </div>

        </div>
    </div>
</div>
<ng-template #errorAuth let-modal>
    <div class="modal-header ">
        <h4 class="modal-title ">Error</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
        <span aria-hidden="true ">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
        <p>No se ha podido llevar a cabo la autenticación</p>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-light " (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>
