<div class="card" *ngIf="verificarParametros">
  <div class="card-header p-0 bg-primary d-flex justify-content-center">
    <h2 class="p-1">Reporte de Productos</h2>
  </div>
  <h6 class="text-center pt-1 px-5">Bienvenid@, a cotinuación se muestra un reporte de los productos. (Información para
    las personas que tengan el enlace)</h6>
  <hr/>
  <div class="card-body">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-12 px-4">
        <h4 class="text-warning">Tienda</h4>
        <p><strong>Nombre comercial:</strong> {{ tienda?.nombre }} ({{ tienda?.valor }})</p>
      </div>
      <div class="col-md-6 col-12 px-4">
        <h4 class="text-warning">Fromas de pago disponibles</h4>
        <ul *ngFor="let pago of formasPago">
          <li>{{ pago?.nombre }} (Tiempo entrega: {{ pago?.tiempo_entrega }})</li>
        </ul>
      </div>
    </div>
    <hr/>
    <div class="p-1 d-flex justify-content-center">
      <div class="col-md-4 col-12 d-flex">
        <input class="form-control" type="text" placeholder="Buscar por codigo producto"
               [(ngModel)]="codigoBarrasBuscar"/>
        <button class="btn btn-primary" (click)="obtenerListaProductos()" [ngClass]="{'loading': mostrarSpinner}"
                [disabled]="mostrarSpinner">

          <i-feather name='search' class="edit-user"></i-feather>
        </button>
      </div>
    </div>
  </div>


</div>
<div class="card" *ngIf="verificarParametros">
  <div class="card-datatable pt-0">
    <div class="table-scroll-container">
      <table class="table table-striped">
        <thead class="thead-light sticky-top bg-white">
        <tr>
          <th *ngFor="let header of headers" [class.clickable]="isSortable(header.value)">
            <div
              class="d-flex width-150"
              *ngIf="isSortable(header.value)"
              (click)="ordenar(header.value)"
              style="cursor: pointer;"
            >
              {{ header.name }}
              <span class="d-flex" *ngIf="sortColumn !== header.value">
                <i-feather class="ml-1" name="arrow-up"></i-feather>
                <i-feather name="arrow-down"></i-feather>
              </span>
              <i-feather name="arrow-up" *ngIf="sortColumn === header.value && sortDirection === 'asc'"
                         class="ml-1"></i-feather>
              <i-feather name="arrow-down" *ngIf="sortColumn === header.value && sortDirection === 'desc'"
                         class="ml-1"></i-feather>
            </div>
            <span *ngIf="!isSortable(header.value)">{{ header.name }}</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let transaccion  of listaProductos; let i = index"
          (click)="onRowClick(transaccion.id)"
          [ngClass]="{'selected-row': selectedRow === transaccion.id}"
          style="cursor: default"
        >
          <td>{{ transaccion.created_at | date: 'dd-MM-yyyy' }}</td>
          <td>{{ transaccion.updated_at | date: 'dd-MM-yyyy' }}</td>
          <td>{{ transaccion.codigoBarras }}</td>
          <td>{{ transaccion.nombre }}</td>
          <td>{{ transaccion.descripcion }}</td>
          <td>{{ transaccion.caracteristicas }}</td>
          <td>
            <a (click)="abrirModalTitulos(modalTitulos, transaccion)">
              <i-feather name="eye" class="mr-25"></i-feather>
            </a>
          </td>
          <td>{{ transaccion.precioVentaA | currency }}</td>
          <td>{{ transaccion.precioVentaB | currency }}</td>
          <td>{{ transaccion.precioVentaC | currency }}</td>
          <td>{{ transaccion.precioVentaD | currency }}</td>
          <td>{{ transaccion.precioVentaE | currency }}</td>
          <td>{{ transaccion.categoria }}</td>
          <td>{{ transaccion.subCategoria }}</td>
          <td>{{ transaccion.stock }}</td>
          <td>
            <span
              class="text-capitalize badge {{transaccion.estado=='Activo' ? 'badge-light-success': 'badge-danger' }} badge-pill">
            {{ transaccion.estado }}
            </span>
          </td>
          <td>
            <img [src]="transaccion.imagen_principal" alt="Imagen principal" width="100" height="100"
                 style="cursor: pointer;"
                 (click)="abrirModalImagen(transaccion.imagen_principal)"
                 *ngIf="transaccion.imagen_principal; else imagenMdrp">
            <ng-template #imagenMdrp>
              <img [src]="transaccion.datos_mdrp.imagen" alt="Imagen principal" width="100" height="100"
                   style="cursor: pointer;"
                   (click)="abrirModalImagen(transaccion.datos_mdrp.imagen)">
            </ng-template>
          </td>
          <td>
            <!-- Caso cuando transaccion.imagenes tiene datos -->
            <div *ngIf="transaccion.imagenes.length > 0; else imagenesMdrp">
              <div class="d-flex">
                <div *ngFor="let imagen of transaccion.imagenes; let i = index">
                  <img
                    [src]="imagen.imagen"
                    alt="Imagen - {{i}}"
                    width="100"
                    height="100"
                    style="cursor: pointer;"
                    (click)="abrirModalImagen(imagen.imagen)">
                </div>
              </div>
            </div>
            <!-- Caso cuando no hay imágenes en transaccion.imagenes -->
            <ng-template #imagenesMdrp>
              <div class="d-flex">
                <div *ngFor="let imagen of transaccion.datos_mdrp.imagenes; let i = index">
                  <img
                    [src]="imagen.imagen"
                    alt="Imagen - {{i}}"
                    width="100"
                    height="100"
                    style="cursor: pointer;"
                    (click)="abrirModalImagen(imagen.imagen)">
                </div>
              </div>
            </ng-template>
          </td>
          <td>
            <video width="200" height="150" controls autoplay muted *ngIf="transaccion.video; else videoMdrp">
              <source [src]="transaccion.video" type="video/mp4">
              Tu navegador no soporta el elemento de video.
            </video>
            <ng-template #videoMdrp>
              <video width="200" height="150" controls autoplay muted
                     *ngIf="transaccion.datos_mdrp.video; else noVideo">
                <source [src]="transaccion.datos_mdrp.video" type="video/mp4">
                Tu navegador no soporta el elemento de video.
              </video>
              <ng-template #noVideo>
                <span>No existe ningun video</span>
              </ng-template>
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination #paginator [collectionSize]="collectionSize " [(page)]="page " [(pageSize)]="pageSize "
                    [maxSize]="5 " [ellipses]="false " [boundaryLinks]="true "></ngb-pagination>
  </div>

  <hr/>
</div>

<ng-template #modalTitulos let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Títulos del prodcuto {{datosProducto.codigoBarras}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content">
    <h5 class="text-warning ml-2 mt-1">Título Uno</h5>
    <p class="px-3">{{datosProducto.titulo_uno ? datosProducto.titulo_uno : 'No hay título registrado' }}</p>
    <hr/>
    <h5 class="text-warning ml-2">Título Dos</h5>
    <p class="px-3">{{datosProducto.titulo_dos ? datosProducto.titulo_dos : 'No hay título registrado'}}</p>
    <hr/>
    <h5 class="text-warning ml-2">Título Tres</h5>
    <p class="px-3">{{datosProducto.titulo_tres ? datosProducto.titulo_tres : 'No hay título registrado'}}</p>
    <hr/>
    <h5 class="text-warning ml-2">Título Cuatro</h5>
    <p class="px-3">{{datosProducto.titulo_cuatro ? datosProducto.titulo_cuatro : 'No hay título registrado'}}</p>
    <hr/>
    <h5 class="text-warning ml-2">Título Cinco</h5>
    <p class="pb-1 px-3">{{datosProducto.titulo_cinco ? datosProducto.titulo_cinco : 'No hay título registrado'}}</p>
  </div>
  <div class="modal-footer">
    <button type="reset" class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')">Cerrar
    </button>
  </div>
</ng-template>

<div
  class="modal fade"
  id="modalZoom"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalZoomTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-body text-center">
        <img
          [src]="imagenSeleccionada"
          alt="Imagen ampliada"
          class="img-fluid"
          style="max-height: 80vh;"
        />
      </div>
      <!--<div class="modal-footer border-0 justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          aria-label="Close"
        >
          Cerrar
        </button>
      </div>-->
    </div>
  </div>
</div>

<div class="container vh-100 d-flex justify-content-center align-items-center" *ngIf="!verificarParametros">
  <div class="text-center">
    <h1 class="display-1 text-danger">404</h1>
    <h2 class="mb-3">¡Oops! Algo salió mal.</h2>
    <p class="text-muted mb-4">La página que estás buscando no existe o ocurrió un error inesperado.</p>
    <!--<a href="/" class="btn btn-primary btn-lg">Regresar a la página principal</a>-->
  </div>
</div>
