<div class="card" *ngIf="verificarParametros">
  <div class="card-header p-0 bg-primary d-flex justify-content-center">
    <h2 class="p-1">Reporte de Productos</h2>
  </div>
  <h6 class="text-center pt-1 px-5">Bienvenid@, a cotinuación se muestra un reporte de los productos. (Información para
    las personas que tengan el enlace)</h6>
</div>
<div class="card" *ngIf="verificarParametros">
  <div class="card-datatable table-responsive pt-0">
    <!--<div class="row m-75">
      <div class="col-lg-12 col-xl-6">
        <label>Mostrar</label>
        <select class="form-control-sm" [(ngModel)]="pageSize" (change)="obtenerListaProductos()">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>-->
    <div class="table-responsive">

      <table class="user-list-table table">
        <thead class="thead-light">
        <tr>
          <th>Tienda</th>
          <th>Código de barras</th>
          <th>Nombre</th>
          <th>Precio Venta A</th>
          <th>Precio Venta B</th>
          <th>Precio Venta C</th>
          <th>Precio Venta D</th>
          <th>Precio Venta E</th>
          <th>Categoría</th>
          <th>Subcategoría</th>
          <th>Stock</th>
          <th>Estado</th>
          <th>Foto principal</th>
          <th>Fotos secundarias</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let transaccion  of listaProductos; let i = index">
          <td>{{ transaccion.canal | shorten}}</td>
          <td>{{ transaccion.codigoBarras }}</td>
          <td>{{ transaccion.nombre }}</td>
          <td>{{ transaccion.precioVentaA | currency }}</td>
          <td>{{ transaccion.precioVentaB | currency }}</td>
          <td>{{ transaccion.precioVentaC | currency }}</td>
          <td>{{ transaccion.precioVentaD | currency }}</td>
          <td>{{ transaccion.precioVentaE | currency }}</td>
          <td>{{ transaccion.categoria }}</td>
          <td>{{ transaccion.subCategoria }}</td>
          <td>{{ transaccion.stock }}</td>
          <td>
            <span
              class="text-capitalize badge {{transaccion.estado=='Activo' ? 'badge-light-success': 'badge-danger' }} badge-pill">
            {{ transaccion.estado }}
            </span>
          </td>
          <td>
            <img [src]="transaccion.imagen_principal" alt="Imagen principal" width="75" height="75">
          </td>
          <td class="d-flex">
            <div *ngFor="let imagen  of transaccion.imagenes; let i = index">
              <img [src]="imagen.imagen" alt="Imagen - {{i}}" width="75" height="75">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!--<ngb-pagination #paginator [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                  [maxSize]="5 " [ellipses]="false " [boundaryLinks]="true " class="px-2"></ngb-pagination>-->

  <hr/>
</div>

<div class="container vh-100 d-flex justify-content-center align-items-center" *ngIf="!verificarParametros">
  <div class="text-center">
    <h1 class="display-1 text-danger">404</h1>
    <h2 class="mb-3">¡Oops! Algo salió mal.</h2>
    <p class="text-muted mb-4">La página que estás buscando no existe o ocurrió un error inesperado.</p>
    <!--<a href="/" class="btn btn-primary btn-lg">Regresar a la página principal</a>-->
  </div>
</div>
