<div class="card" *ngIf="verificarParametros">
  <div class="card-header p-0 bg-primary d-flex justify-content-center">
    <h2 class="p-1">Reporte de Productos</h2>
  </div>
  <h6 class="text-center pt-1 px-5">Bienvenid@, a cotinuación se muestra un reporte de los productos. (Información para
    las personas que tengan el enlace)</h6>

  <div class="p-1 d-flex justify-content-center">
    <div class="col-md-4 col-12 d-flex">
      <input class="form-control" type="text" placeholder="Buscar por codigo producto"
             [(ngModel)]="codigoBarrasBuscar"/>
      <button class="btn btn-primary" (click)="obtenerListaProductos()">
        <i-feather name='search' class="edit-user"></i-feather>
      </button>
    </div>
  </div>

</div>
<div class="card" *ngIf="verificarParametros">
  <div class="card-datatable table-responsive pt-0">
    <div class="table-responsive">
      <table class="user-list-table table">
        <thead class="thead-light">
        <tr>
          <th *ngFor="let header of headers" [class.clickable]="isSortable(header.value)">
            <div
              class="d-flex width-150"
              *ngIf="isSortable(header.value)"
              (click)="ordenar(header.value)"
              style="cursor: pointer;"
            >
              {{ header.name }}
              <span class="d-flex" *ngIf="sortColumn !== header.value">
                <i-feather class="ml-1" name="arrow-up"></i-feather>
                <i-feather name="arrow-down"></i-feather>
              </span>
              <i-feather name="arrow-up" *ngIf="sortColumn === header.value && sortDirection === 'asc'"
                         class="ml-1"></i-feather>
              <i-feather name="arrow-down" *ngIf="sortColumn === header.value && sortDirection === 'desc'"
                         class="ml-1"></i-feather>
            </div>
            <span *ngIf="!isSortable(header.value)">{{ header.name }}</span>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let transaccion  of listaProductos; let i = index">
          <td>{{ transaccion.canal | shorten }}</td>
          <td>{{ transaccion.created_at | date: 'dd-MM-yyyy' }}</td>
          <td>{{ transaccion.updated_at | date: 'dd-MM-yyyy' }}</td>
          <td>{{ transaccion.codigoBarras }}</td>
          <td>{{ transaccion.nombre }}</td>
          <td>{{ transaccion.precioVentaA | currency }}</td>
          <td>{{ transaccion.precioVentaB | currency }}</td>
          <td>{{ transaccion.precioVentaC | currency }}</td>
          <td>{{ transaccion.precioVentaD | currency }}</td>
          <td>{{ transaccion.precioVentaE | currency }}</td>
          <td>{{ transaccion.categoria }}</td>
          <td>{{ transaccion.subCategoria }}</td>
          <td>{{ transaccion.stock }}</td>
          <td>
            <span
              class="text-capitalize badge {{transaccion.estado=='Activo' ? 'badge-light-success': 'badge-danger' }} badge-pill">
            {{ transaccion.estado }}
            </span>
          </td>
          <td>
            <img [src]="transaccion.imagen_principal" alt="Imagen principal" width="75" height="75">
          </td>
          <td class="d-flex">
            <div *ngFor="let imagen  of transaccion.imagenes; let i = index">
              <img [src]="imagen.imagen" alt="Imagen - {{i}}" width="75" height="75">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination #paginator [collectionSize]="collectionSize " [(page)]="page " [(pageSize)]="pageSize "
                    [maxSize]="5 " [ellipses]="false " [boundaryLinks]="true "></ngb-pagination>
  </div>

  <hr/>
</div>

<div class="container vh-100 d-flex justify-content-center align-items-center" *ngIf="!verificarParametros">
  <div class="text-center">
    <h1 class="display-1 text-danger">404</h1>
    <h2 class="mb-3">¡Oops! Algo salió mal.</h2>
    <p class="text-muted mb-4">La página que estás buscando no existe o ocurrió un error inesperado.</p>
    <!--<a href="/" class="btn btn-primary btn-lg">Regresar a la página principal</a>-->
  </div>
</div>
