<div class="app-content">

    <div class="content-body">
        <section class="app-ecommerce-details">
            <div class="d-flex justify-content-center">
                <a href="javascript:void(0);" class="brand-logo">
                    <img src="../../../../assets/images/logo.svg" width="100">
                </a>
            </div>
            <div class="card">
                <div class="d-flex justify-content-center text-center">
                    <h4>
                        {{pagina?.titulo?.valor}}
                    </h4>
                </div>
                <div class="d-flex justify-content-center text-center">
                    <h4 class="text-danger">
                        {{pagina?.subtitulo?.valor}}
                    </h4>
                </div>
                <div class="d-flex justify-content-center text-center">
                    <h1>
                        {{pagina?.nombreFormulario?.valor}}
                    </h1>
                </div>
                <div class="card-body">

                    <div class="col-12 col-lg-6 container-sm justify-content-center">
                        <form class="form form-horizontal" [formGroup]="miFormulario" (ngSubmit)="calcular()">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label>
                                                <strong>
                                                    {{pagina.pagarCliente}}
                                                </strong>
                                            </label>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><b><img src="assets/images/dolar.png" width="10px"  height="10px"></b></span>
                                                </div>
                                                <input type="number" id="precio" class="form-control"
                                                       name="precioProducto"
                                                       formControlName="precioProducto"
                                                       style="font-size: 18px; color: black;"
                                                />
                                            </div>
                                            <div *ngIf="tForm.precioProducto.errors" class="invalid-feedback"
                                                 style="display: block;">
                                                <div *ngIf="tForm.precioProducto.errors.required">
                                                    Ingrese valor requerido
                                                </div>
                                                <div *ngIf="tForm.precioProducto.errors.min">
                                                    Ingrese valor minimo 1
                                                </div>
                                                <div *ngIf="tForm.precioProducto.errors.max">
                                                    Ingrese valor maximo 50000
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex justify-content-center text-center">
                                        <button type="submit" rippleEffect class="btn btn-primary mr-1">Calcular
                                        </button>
                                        <button type="reset" rippleEffect class="btn btn-outline-secondary"
                                                (click)="resetearValores()">Resetear
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>

                    <div class="col-12 col-lg-6 container-sm justify-content-center">
                        <form class="form form-horizontal">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label>
                                                {{pagina.precioProducto}}
                                            </label>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><img src="assets/images/dolar.png" width="10px"  height="10px"></span>
                                                </div>
                                                <input type="text" id="precioProducto" class="form-control"
                                                       name="precioProducto"
                                                       [(ngModel)]="calculos.precioProducto" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container relieve my-2">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-center text-center">
                                            <div class="col-sm-12">
                                                <h1>
                                                    {{pagina.mensajeVendedor}}
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <h5 class="text-danger">
                                                    <strong>
                                                        {{pagina.comisionAsesor}}
                                                    </strong>
                                                </h5>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text text-danger" id="basic-addon1"><b><img src="assets/images/dolar.png" width="10px"  height="10px"></b></span>
                                                    </div>
                                                    <input type="text" id="comisionAsesor" class="form-control"
                                                           name="comisionAsesor"
                                                           style="font-size: 18px; color: red;"
                                                           [(ngModel)]="calculos.comisionAsesor" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label>
                                                {{pagina.costoEnvio}}
                                            </label>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><img src="assets/images/dolar.png" width="10px"  height="10px"></span>
                                                </div>
                                                <input type="text" id="costoEnvio" class="form-control"
                                                       name="costoEnvio"
                                                       [(ngModel)]="calculos.costoEnvio" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label>
                                                {{pagina.subtotal}}
                                            </label>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><img src="assets/images/dolar.png" width="10px"  height="10px"></span>
                                                </div>
                                                <input type="text" id="subtotal" class="form-control" name="subtotal"
                                                       [(ngModel)]="calculos.subtotal" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label>
                                                {{pagina.montoIva}}
                                            </label>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><img src="assets/images/dolar.png" width="10px"  height="10px"></span>
                                                </div>
                                                <input type="text" id="montoIva" class="form-control" name="montoIva"
                                                       [(ngModel)]="calculos.montoIva" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label>
                                                {{pagina.pagarCliente}}
                                            </label>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><img src="assets/images/dolar.png" width="10px"  height="10px"></span>
                                                </div>
                                                <input type="text" id="valorPagar" class="form-control"
                                                       name="valorPagar"
                                                       [(ngModel)]="calculos.valorPagar" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </section>
    </div>
</div>
